// Scripts
// CSS
noscript
    link(href='/assets/css/main.css', rel='stylesheet')
// js
script(data-cfasync='true', src='/assets/js/scripts.min.js')
//if lt IE 10
  script.
    $('input, textarea').placeholder();